# EDA (Exploratory Data Analysis)
***
## We have here a complex dataset (3 .csv files) which we have to deal with it carefully and extract only the data which will help us build our dashboard application .
***

In [1]:
#import the dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#options
%matplotlib inline
pd.set_option('display.max_columns',None)

In [2]:
main_df = pd.read_csv('Stats.csv')
countries_df = pd.read_csv('StatsCountry.csv')
indicators_df = pd.read_csv('StatsSeries.csv')

main_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020,2025,2030,2035,2040,2045,2050,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,60.999962,61.92268,62.69342,64.383186,65.617767,66.085152,66.608139,67.290451,68.510094,69.033211,69.944908,71.04187,71.693779,71.699097,71.995819,72.602837,70.032722,70.464821,72.645683,71.81176,73.903511,74.425201,75.110817,76.254318,77.245682,78.800522,80.051399,80.805389,81.607063,82.489487,82.685509,83.280342,84.011871,84.195961,85.211998,85.24514,86.101669,85.51194,85.320152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
countries_df.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,2000,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,Special trade system,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,2002/03,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,2002,NaN,Value added at producer prices (VAP),IBRD,NaN,Country uses the 1993 System of National Accou...,1991–96,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are resca...,1996.0,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,Rolling,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,1990,NaN,NaN,NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,NaN,NaN,Special trade system,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [4]:
indicators_df.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***
# Data Preprocessing
***

***
## 1. Indicators dataframe
***

***
## We will be interested in few indicators so our dataframe will be cleaner and will shrink
***

In [5]:
ed_ind = list()
for i in indicators_df['Topic']:
    if 'Education' in i:
        ed_ind.append(i)
ed_ind_arr = np.array(ed_ind)
ed_ind = list(np.unique(ed_ind_arr))

len(ed_ind)

4

In [6]:
fltr = (indicators_df['Topic'] == ed_ind[0]) | (indicators_df['Topic'] == ed_ind[1]) | (indicators_df['Topic'] == ed_ind[2]) | (indicators_df['Topic'] == ed_ind[3])
print(indicators_df.shape)
new_indicators_df = indicators_df[fltr]
print(new_indicators_df.shape)

(3665, 21)
(490, 21)

***
## We will also get rid of the details (most of the columns)
***

In [7]:
new_indicators_df = new_indicators_df[['Topic','Indicator Name']]

In [8]:
new_indicators_df

                   Topic                                     Indicator Name
360   Education Equality         DHS: Gross attendance rate. Post Secondary
361   Education Equality  DHS: Gross attendance rate. Post Secondary. Fe...
362   Education Equality   DHS: Gross attendance rate. Post Secondary. Male
363   Education Equality  DHS: Gross attendance rate. Post Secondary. Qu...
364   Education Equality  DHS: Gross attendance rate. Post Secondary. Qu...
...                  ...                                                ...
3462  Education Equality  UIS: Rate of out-of-school adolescents of lowe...
3463  Education Equality  UIS: Rate of out-of-school adolescents of lowe...
3464  Education Equality  UIS: Rate of out-of-school adolescents of lowe...
3465  Education Equality  UIS: Rate of out-of-school adolescents of lowe...
3466  Education Equality  UIS: Rate of out-of-school adolescents of lowe...

[490 rows x 2 columns]

In [9]:
new_indicators_df.isnull().sum()['Indicator Name']

0

In [10]:
new_indicators_df.shape[0] - len(new_indicators_df['Indicator Name'].unique())

0

***
## The indicators dataframe is clean and good to go 
***

***
## 2. Countries dataframe
***

In [11]:
countries_df = countries_df[['Country Code','Short Name','Currency Unit','Region']]

print(countries_df.isnull().sum())

countries_df.dropna(inplace=True)

countries_df

Country Code      0
Short Name        0
Currency Unit    26
Region           27
dtype: int64

    Country Code    Short Name       Currency Unit                      Region
0            ABW         Aruba       Aruban florin   Latin America & Caribbean
1            AFG   Afghanistan      Afghan afghani                  South Asia
2            AGO        Angola      Angolan kwanza          Sub-Saharan Africa
3            ALB       Albania        Albanian lek       Europe & Central Asia
4            AND       Andorra                Euro       Europe & Central Asia
..           ...           ...                 ...                         ...
236          XKX        Kosovo                Euro       Europe & Central Asia
237          YEM         Yemen         Yemeni rial  Middle East & North Africa
238          ZAF  South Africa  South African rand          Sub-Saharan Africa
239          ZMB        Zambia  New Zambian kwacha          Sub-Saharan Africa
240          ZWE      Zimbabwe         U.S. dollar          Sub-Saharan Africa

[214 rows x 4 columns]

In [12]:
print(f"Number of rows : {countries_df.shape[0]}")
print('------------------------------------------------------------------')

for col in countries_df.columns:
    print(f"Number of unique values in the {col} column is {len(countries_df[col].unique())}")

Number of rows : 214
------------------------------------------------------------------
Number of unique values in the Country Code column is 214
Number of unique values in the Short Name column is 214
Number of unique values in the Currency Unit column is 151
Number of unique values in the Region column is 7

***
## Now the countries dataframe seems reasonable and good to go
***

***
## 3. Main dataframe
***

In [13]:
main_df = main_df.loc[:,:'2020']

tmp_new_indicators_df = new_indicators_df.set_index('Indicator Name')

new_main_df = pd.merge(main_df,tmp_new_indicators_df,left_on='Indicator Name',right_index=True)

new_main_df

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020,Topic
539,Arab World,ARB,DHS: Average years of schooling by age group. ...,HH.DHS.YRS.1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality
4204,East Asia & Pacific,EAS,DHS: Average years of schooling by age group. ...,HH.DHS.YRS.1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality
7869,East Asia & Pacific (excluding high income),EAP,DHS: Average years of schooling by age group. ...,HH.DHS.YRS.1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality
11534,Euro area,EMU,DHS: Average years of schooling by age group. ...,HH.DHS.YRS.1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality
15199,Europe & Central Asia,ECS,DHS: Average years of schooling by age group. ...,HH.DHS.YRS.1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871944,Virgin Islands (U.S.),VIR,"UIS: Total net attendance rate, lower secondar...",UIS.NART.2.URB.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality
875609,West Bank and Gaza,PSE,"UIS: Total net attendance rate, lower secondar...",UIS.NART.2.URB.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality
879274,"Yemen, Rep.",YEM,"UIS: Total net attendance rate, lower secondar...",UIS.NART.2.URB.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.015251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality
882939,Zambia,ZMB,"UIS: Total net attendance rate, lower secondar...",UIS.NART.2.URB.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.264893,NaN,NaN,NaN,NaN,NaN,94.298569,NaN,NaN,NaN,NaN,NaN,86.830719,NaN,NaN,NaN,NaN,NaN,Education Equality
886604,Zimbabwe,ZWE,"UIS: Total net attendance rate, lower secondar...",UIS.NART.2.URB.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.120636,NaN,NaN,NaN,NaN,87.433357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education Equality

In [14]:
#Number of indicators in our dataset = number of rows
new_main_df.shape[0]

118580

***
## Of course we will not deal with more than 100 thousands indicators so we will try to go through the list of these indicators and select which could help us with our analysis and visualizations
***

In [15]:
for indicator in new_main_df['Indicator Name'].unique():
    print(indicator + '\n')

DHS: Average years of schooling by age group. Age 15-19

DHS: Average years of schooling by age group. Age 15-19. Female

DHS: Average years of schooling by age group. Age 15-19. Male

DHS: Average years of schooling by age group. Age 15-19. Quintile 1

DHS: Average years of schooling by age group. Age 15-19. Quintile 2

DHS: Average years of schooling by age group. Age 15-19. Quintile 3

DHS: Average years of schooling by age group. Age 15-19. Quintile 4

DHS: Average years of schooling by age group. Age 15-19. Quintile 5

DHS: Average years of schooling by age group. Age 15-19. Rural

DHS: Average years of schooling by age group. Age 15-19. Urban

DHS: Gini coefficient of average years of schooling. Age 15+

DHS: Gini coefficient of average years of schooling. Age 15+. Female

DHS: Gini coefficient of average years of schooling. Age 15+. Male

DHS: Gini coefficient of average years of schooling. Age 15+. Quintile 1

DHS: Gini coefficient of average years of schooling. Age 15+. Quintile 2

DHS: Gini coefficient of average years of schooling. Age 15+. Quintile 3

DHS: Gini coefficient of average years of schooling. Age 15+. Quintile 4

DHS: Gini coefficient of average years of schooling. Age 15+. Quintile 5

DHS: Gini coefficient of average years of schooling. Age 15+. Rural

DHS: Gini coefficient of average years of schooling. Age 15+. Urban

DHS: Gross attendance rate. Post Secondary

DHS: Gross attendance rate. Post Secondary. Female

DHS: Gross attendance rate. Post Secondary. Male

DHS: Gross attendance rate. Post Secondary. Quintile 1

DHS: Gross attendance rate. Post Secondary. Quintile 2

DHS: Gross attendance rate. Post Secondary. Quintile 3

DHS: Gross attendance rate. Post Secondary. Quintile 4

DHS: Gross attendance rate. Post Secondary. Quintile 5

DHS: Gross attendance rate. Post Secondary. Rural

DHS: Gross attendance rate. Post Secondary. Urban

DHS: Net attendance rate. Primary

DHS: Net attendance rate. Primary. Female

DHS: Net attendance rate. Primary. Male

DHS: Net attendance rate. Primary. Quintile 1

DHS: Net attendance rate. Primary. Quintile 2

DHS: Net attendance rate. Primary. Quintile 3

DHS: Net attendance rate. Primary. Quintile 4

DHS: Net attendance rate. Primary. Quintile 5

DHS: Net attendance rate. Primary. Rural

DHS: Net attendance rate. Primary. Urban

DHS: Net attendance rate. Secondary

DHS: Net attendance rate. Secondary. Female

DHS: Net attendance rate. Secondary. Male

DHS: Net attendance rate. Secondary. Quintile 1

DHS: Net attendance rate. Secondary. Quintile 2

DHS: Net attendance rate. Secondary. Quintile 3

DHS: Net attendance rate. Secondary. Quintile 4

DHS: Net attendance rate. Secondary. Quintile 5

DHS: Net attendance rate. Secondary. Rural

DHS: Net attendance rate. Secondary. Urban

DHS: Net intake rate for the first grade of primary education

DHS: Net intake rate for the first grade of primary education. Female

DHS: Net intake rate for the first grade of primary education. Male

DHS: Net intake rate for the first grade of primary education. Quintile 1

DHS: Net intake rate for the first grade of primary education. Quintile 2

DHS: Net intake rate for the first grade of primary education. Quintile 3

DHS: Net intake rate for the first grade of primary education. Quintile 4

DHS: Net intake rate for the first grade of primary education. Quintile 5

DHS: Net intake rate for the first grade of primary education. Rural

DHS: Net intake rate for the first grade of primary education. Urban

DHS: Primary completion rate

DHS: Primary completion rate. Female

DHS: Primary completion rate. Male

DHS: Primary completion rate. Quintile 1

DHS: Primary completion rate. Quintile 2

DHS: Primary completion rate. Quintile 3

DHS: Primary completion rate. Quintile 4

DHS: Primary completion rate. Quintile 5

DHS: Primary completion rate. Rural

DHS: Primary completion rate. Urban

DHS: Proportion of out-of-school. Primary

DHS: Proportion of out-of-school. Primary. Female

DHS: Proportion of out-of-school. Primary. Male

DHS: Proportion of out-of-school. Primary. Quintile 1

DHS: Proportion of out-of-school. Primary. Quintile 2

DHS: Proportion of out-of-school. Primary. Quintile 3

DHS: Proportion of out-of-school. Primary. Quintile 4

DHS: Proportion of out-of-school. Primary. Quintile 5

DHS: Proportion of out-of-school. Primary. Rural

DHS: Proportion of out-of-school. Primary. Urban

DHS: Secondary completion rate

DHS: Secondary completion rate. Female

DHS: Secondary completion rate. Male

DHS: Secondary completion rate. Quintile 1

DHS: Secondary completion rate. Quintile 2

DHS: Secondary completion rate. Quintile 3

DHS: Secondary completion rate. Quintile 4

DHS: Secondary completion rate. Quintile 5

DHS: Secondary completion rate. Rural

DHS: Secondary completion rate. Urban

DHS: Transition rate. Primary to Secondary

DHS: Transition rate. Primary to Secondary. Female

DHS: Transition rate. Primary to Secondary. Male

DHS: Transition rate. Primary to Secondary. Quintile 1

DHS: Transition rate. Primary to Secondary. Quintile 2

DHS: Transition rate. Primary to Secondary. Quintile 3

DHS: Transition rate. Primary to Secondary. Quintile 4

DHS: Transition rate. Primary to Secondary. Quintile 5

DHS: Transition rate. Primary to Secondary. Rural

DHS: Transition rate. Primary to Secondary. Urban

DHS: Typology of out-of-school children. Primary. Dropped out

DHS: Typology of out-of-school children. Primary. Dropped out. Female

DHS: Typology of out-of-school children. Primary. Dropped out. Male

DHS: Typology of out-of-school children. Primary. Dropped out. Quintile 1

DHS: Typology of out-of-school children. Primary. Dropped out. Quintile 2

DHS: Typology of out-of-school children. Primary. Dropped out. Quintile 3

DHS: Typology of out-of-school children. Primary. Dropped out. Quintile 4

DHS: Typology of out-of-school children. Primary. Dropped out. Quintile 5

DHS: Typology of out-of-school children. Primary. Dropped out. Rural

DHS: Typology of out-of-school children. Primary. Dropped out. Urban

DHS: Typology of out-of-school children. Primary. Late entry

DHS: Typology of out-of-school children. Primary. Late entry. Female

DHS: Typology of out-of-school children. Primary. Late entry. Male

DHS: Typology of out-of-school children. Primary. Late entry. Quintile 1

DHS: Typology of out-of-school children. Primary. Late entry. Quintile 2

DHS: Typology of out-of-school children. Primary. Late entry. Quintile 3

DHS: Typology of out-of-school children. Primary. Late entry. Quintile 4

DHS: Typology of out-of-school children. Primary. Late entry. Quintile 5

DHS: Typology of out-of-school children. Primary. Late entry. Rural

DHS: Typology of out-of-school children. Primary. Late entry. Urban

DHS: Typology of out-of-school children. Primary. Never in school

DHS: Typology of out-of-school children. Primary. Never in school. Female

DHS: Typology of out-of-school children. Primary. Never in school. Male

DHS: Typology of out-of-school children. Primary. Never in school. Quintile 1

DHS: Typology of out-of-school children. Primary. Never in school. Quintile 2

DHS: Typology of out-of-school children. Primary. Never in school. Quintile 3

DHS: Typology of out-of-school children. Primary. Never in school. Quintile 4

DHS: Typology of out-of-school children. Primary. Never in school. Quintile 5

DHS: Typology of out-of-school children. Primary. Never in school. Rural

DHS: Typology of out-of-school children. Primary. Never in school. Urban

Enrolment in early childhood education, both sexes (number)

Enrolment in early childhood education, female (number)

Enrolment in early childhood education, private institutions, both sexes (number)

Enrolment in early childhood education, private institutions, female (number)

Enrolment in early childhood education, public institutions, both sexes (number)

Enrolment in early childhood education, public institutions, female (number)

Enrolment in early childhood educational development programmes, both sexes (number)

Enrolment in early childhood educational development programmes, female (number)

Enrolment in early childhood educational development programmes, private institutions, both sexes (number)

Enrolment in early childhood educational development programmes, private institutions, female (number)

Enrolment in early childhood educational development programmes, public institutions, both sexes (number)

Enrolment in early childhood educational development programmes, public institutions, female (number)

Enrolment in pre-primary education, both sexes (number)

Enrolment in pre-primary education, female (number)

Enrolment in pre-primary education, private institutions, both sexes (number)

Enrolment in pre-primary education, private institutions, female (number)

Enrolment in pre-primary education, public institutions, both sexes (number)

Enrolment in pre-primary education, public institutions, female (number)

MICS: Average years of schooling by age group. Age 15-19

MICS: Average years of schooling by age group. Age 15-19. Female

MICS: Average years of schooling by age group. Age 15-19. Male

MICS: Average years of schooling by age group. Age 15-19. Quintile 1

MICS: Average years of schooling by age group. Age 15-19. Quintile 2

MICS: Average years of schooling by age group. Age 15-19. Quintile 3

MICS: Average years of schooling by age group. Age 15-19. Quintile 4

MICS: Average years of schooling by age group. Age 15-19. Quintile 5

MICS: Average years of schooling by age group. Age 15-19. Rural

MICS: Average years of schooling by age group. Age 15-19. Urban

MICS: Gini coefficient of average years of schooling. Age 15+

MICS: Gini coefficient of average years of schooling. Age 15+. Female

MICS: Gini coefficient of average years of schooling. Age 15+. Male

MICS: Gini coefficient of average years of schooling. Age 15+. Quintile 1

MICS: Gini coefficient of average years of schooling. Age 15+. Quintile 2

MICS: Gini coefficient of average years of schooling. Age 15+. Quintile 3

MICS: Gini coefficient of average years of schooling. Age 15+. Quintile 4

MICS: Gini coefficient of average years of schooling. Age 15+. Quintile 5

MICS: Gini coefficient of average years of schooling. Age 15+. Rural

MICS: Gini coefficient of average years of schooling. Age 15+. Urban

MICS: Gross attendance rate. Post Secondary

MICS: Gross attendance rate. Post Secondary. Female

MICS: Gross attendance rate. Post Secondary. Male

MICS: Gross attendance rate. Post Secondary. Quintile 1

MICS: Gross attendance rate. Post Secondary. Quintile 2

MICS: Gross attendance rate. Post Secondary. Quintile 3

MICS: Gross attendance rate. Post Secondary. Quintile 4

MICS: Gross attendance rate. Post Secondary. Quintile 5

MICS: Gross attendance rate. Post Secondary. Rural

MICS: Gross attendance rate. Post Secondary. Urban

MICS: Net attendance rate. Primary

MICS: Net attendance rate. Primary. Female

MICS: Net attendance rate. Primary. Male

MICS: Net attendance rate. Primary. Quintile 1

MICS: Net attendance rate. Primary. Quintile 2

MICS: Net attendance rate. Primary. Quintile 3

MICS: Net attendance rate. Primary. Quintile 4

MICS: Net attendance rate. Primary. Quintile 5

MICS: Net attendance rate. Primary. Rural

MICS: Net attendance rate. Primary. Urban

MICS: Net attendance rate. Secondary

MICS: Net attendance rate. Secondary. Female

MICS: Net attendance rate. Secondary. Male

MICS: Net attendance rate. Secondary. Quintile 1

MICS: Net attendance rate. Secondary. Quintile 2

MICS: Net attendance rate. Secondary. Quintile 3

MICS: Net attendance rate. Secondary. Quintile 4

MICS: Net attendance rate. Secondary. Quintile 5

MICS: Net attendance rate. Secondary. Rural

MICS: Net attendance rate. Secondary. Urban

MICS: Primary completion rate

MICS: Primary completion rate. Female

MICS: Primary completion rate. Male

MICS: Primary completion rate. Quintile 1

MICS: Primary completion rate. Quintile 2

MICS: Primary completion rate. Quintile 3

MICS: Primary completion rate. Quintile 4

MICS: Primary completion rate. Quintile 5

MICS: Primary completion rate. Rural

MICS: Primary completion rate. Urban

MICS: Proportion of out-of-school. Primary

MICS: Proportion of out-of-school. Primary. Female

MICS: Proportion of out-of-school. Primary. Male

MICS: Proportion of out-of-school. Primary. Quintile 1

MICS: Proportion of out-of-school. Primary. Quintile 2

MICS: Proportion of out-of-school. Primary. Quintile 3

MICS: Proportion of out-of-school. Primary. Quintile 4

MICS: Proportion of out-of-school. Primary. Quintile 5

MICS: Proportion of out-of-school. Primary. Rural

MICS: Proportion of out-of-school. Primary. Urban

MICS: Secondary completion rate

MICS: Secondary completion rate. Female

MICS: Secondary completion rate. Male

MICS: Secondary completion rate. Quintile 1

MICS: Secondary completion rate. Quintile 2

MICS: Secondary completion rate. Quintile 3

MICS: Secondary completion rate. Quintile 4

MICS: Secondary completion rate. Quintile 5

MICS: Secondary completion rate. Rural

MICS: Secondary completion rate. Urban

MICS: Transition rate. Primary to Secondary

MICS: Transition rate. Primary to Secondary. Female

MICS: Transition rate. Primary to Secondary. Male

MICS: Transition rate. Primary to Secondary. Quintile 1

MICS: Transition rate. Primary to Secondary. Quintile 2

MICS: Transition rate. Primary to Secondary. Quintile 3

MICS: Transition rate. Primary to Secondary. Quintile 4

MICS: Transition rate. Primary to Secondary. Quintile 5

MICS: Transition rate. Primary to Secondary. Rural

MICS: Transition rate. Primary to Secondary. Urban

MICS: Typology of out-of-school children. Primary. Dropped out

MICS: Typology of out-of-school children. Primary. Dropped out. Female

MICS: Typology of out-of-school children. Primary. Dropped out. Male

MICS: Typology of out-of-school children. Primary. Dropped out. Quintile 1

MICS: Typology of out-of-school children. Primary. Dropped out. Quintile 2

MICS: Typology of out-of-school children. Primary. Dropped out. Quintile 3

MICS: Typology of out-of-school children. Primary. Dropped out. Quintile 4

MICS: Typology of out-of-school children. Primary. Dropped out. Quintile 5

MICS: Typology of out-of-school children. Primary. Dropped out. Rural

MICS: Typology of out-of-school children. Primary. Dropped out. Urban

MICS: Typology of out-of-school children. Primary. Late entry

MICS: Typology of out-of-school children. Primary. Late entry. Female

MICS: Typology of out-of-school children. Primary. Late entry. Male

MICS: Typology of out-of-school children. Primary. Late entry. Quintile 1

MICS: Typology of out-of-school children. Primary. Late entry. Quintile 2

MICS: Typology of out-of-school children. Primary. Late entry. Quintile 3

MICS: Typology of out-of-school children. Primary. Late entry. Quintile 4

MICS: Typology of out-of-school children. Primary. Late entry. Quintile 5

MICS: Typology of out-of-school children. Primary. Late entry. Rural

MICS: Typology of out-of-school children. Primary. Late entry. Urban

MICS: Typology of out-of-school children. Primary. Never in school

MICS: Typology of out-of-school children. Primary. Never in school. Female

MICS: Typology of out-of-school children. Primary. Never in school. Male

MICS: Typology of out-of-school children. Primary. Never in school. Quintile 1

MICS: Typology of out-of-school children. Primary. Never in school. Quintile 2

MICS: Typology of out-of-school children. Primary. Never in school. Quintile 3

MICS: Typology of out-of-school children. Primary. Never in school. Quintile 4

MICS: Typology of out-of-school children. Primary. Never in school. Quintile 5

MICS: Typology of out-of-school children. Primary. Never in school. Rural

MICS: Typology of out-of-school children. Primary. Never in school. Urban

Percentage of enrolment in early childhood education programmes in private institutions (%)

Percentage of enrolment in early childhood educational development programmes in private institutions (%)

Percentage of enrolment in pre-primary education in private institutions (%)

Percentage of students in early childhood education who are female (%)

Percentage of students in early childhood educational development programmes who are female (%)

Percentage of students in pre-primary education who are female (%)

SABER: (Education Management Information Systems) Policy Goal 1 Lever 1: Legal Framework

SABER: (Education Management Information Systems) Policy Goal 1 Lever 2: Organizational Structure

SABER: (Education Management Information Systems) Policy Goal 1 Lever 3: Human Resources

SABER: (Education Management Information Systems) Policy Goal 1 Lever 4: Infrastructural capacity

SABER: (Education Management Information Systems) Policy Goal 1 Lever 5: Budget

SABER: (Education Management Information Systems) Policy Goal 1 Lever 6: Data-driven Culture

SABER: (Education Management Information Systems) Policy Goal 1: Enabling Environment

SABER: (Education Management Information Systems) Policy Goal 2 Lever 1: Data Architecture

SABER: (Education Management Information Systems) Policy Goal 2 Lever 2: Data Coverage

SABER: (Education Management Information Systems) Policy Goal 2 Lever 3: Data Analytics

SABER: (Education Management Information Systems) Policy Goal 2 Lever 4: Dynamic System

SABER: (Education Management Information Systems) Policy Goal 2 Lever 5: Serviceability

SABER: (Education Management Information Systems) Policy Goal 2: System Soundness

SABER: (Education Management Information Systems) Policy Goal 3 Lever 1: Methodological Soundness

SABER: (Education Management Information Systems) Policy Goal 3 Lever 2: Accuracy and Reliability

SABER: (Education Management Information Systems) Policy Goal 3 Lever 3: Integrity

SABER: (Education Management Information Systems) Policy Goal 3 Lever 4: Periodicity and Timeliness

SABER: (Education Management Information Systems) Policy Goal 3: Quality data

SABER: (Education Management Information Systems) Policy Goal 4 Lever 1: Openness

SABER: (Education Management Information Systems) Policy Goal 4 Lever 2: Operational Use

SABER: (Education Management Information Systems) Policy Goal 4 Lever 3: Accessibility

SABER: (Education Management Information Systems) Policy Goal 4 Lever 4: Effectiveness in Disseminating Findings

SABER: (Education Management Information Systems) Policy Goal 4: Utilization in decision making

SABER: (Tertiary Education) Policy Goal 1 Lever 1: Clear vision

SABER: (Tertiary Education) Policy Goal 1: Vision for Tertiary Education

SABER: (Tertiary Education) Policy Goal 2 Lever 1: Steering the system

SABER: (Tertiary Education) Policy Goal 2: Regulatory Framework for Tertiary Education

SABER: (Tertiary Education) Policy Goal 3 Lever 1: Articulation

SABER: (Tertiary Education) Policy Goal 3 Lever 2: Institutional autonomy

SABER: (Tertiary Education) Policy Goal 3: Governance

SABER: (Tertiary Education) Policy Goal 4 Lever 1: Coverage of resource allocation

SABER: (Tertiary Education) Policy Goal 4 Lever 2: Resource allocation

SABER: (Tertiary Education) Policy Goal 4 Lever 3: Resource utilization (Equity)

SABER: (Tertiary Education) Policy Goal 4: Finance

SABER: (Tertiary Education) Policy Goal 5 Lever 1: Accreditation and Institutional Quality Standards

SABER: (Tertiary Education) Policy Goal 5: Quality Assurance

SABER: (Tertiary Education) Policy Goal 6 Lever 1: Economic Development

SABER: (Tertiary Education) Policy Goal 6 Lever 2: Fostering RDI and Innovation

SABER: (Tertiary Education) Policy Goal 6 Lever 3: Fostering Social and Cultural Development and Environmental Protection and Sustainability

SABER: (Tertiary Education) Policy Goal 6: The Relevance of Tertiary Education for Economic and Social Needs

UIS: Adjusted net attendance rate, primary, both sexes (%)


***
## At the first glance , it is obvious that we can choose our indicators whithout ignoring too much details , so these 118580 indicators will shrink remarkably and still , the dataset will provide us what we need for our analysis
***

# . . .